@font-face {
    font-family: Lack;
    src: url(assets/fonts/lack-regular.otf);
    font-style: normal;
}
@font-face {
    font-family: Lack-line;
    src: url(assets/fonts/lack-line-regular.otf);
    font-style: normal;
}

#welcomeBack{
    font-family: Lack;
    font-style: normal;
    font-size: 5ch;
    margin:10px;
}

#continueButton{
    margin: 10px;
}

#loginTitle{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}