@font-face {
    font-family: Lack;
    src: url(assets/fonts/lack-regular.otf);
    font-style: normal;
}
@font-face {
    font-family: Lack-line;
    src: url(assets/fonts/lack-line-regular.otf);
    font-style: normal;
}

#welcomeBack{
    font-family: Lack;
    font-style: normal;
    font-size: 5ch;
    margin:10px;
}

#continueButton{
    margin: 10px;
}

#loginTitle{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

body{
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
}

.all{
    padding: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.358);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.inForm{
    margin: 2px;
}