@font-face {
  font-family: Lack;
  src: url('/assets/fonts/lack-regular.otf');
}

@font-face {
  font-family: Lack-line;
  src: url('/assets/fonts/lack-line-regular.otf');
}

body{
  margin: 0;
  background: #b62b83;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(135deg,#f0672c, #ba26b0);
  background-size: 400% 400%;
  animation: background 60s ease infinite;
  font-family: 'Lack', sans-serif;
}

@keyframes background {
  0%{background-position:11% 0%}
  50%{background-position:90% 100%}
  100%{background-position:11% 0%}
}

button{
  font-family: 'Lack', sans-serif;
}

.box{
  position: fixed;
  z-index: -9999;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation-timing-function: ease-in-out;
  animation: hover;

}
@keyframes hover{
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }
}

/* CSS flexbox stuff here */
#adminOnly{
  display: flex;
}
#modAccess{
  display: flex;
}
.dashbItem{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#adminOnly .dashbItem{
  background: rgba(255,255,255,0.1);
  transition: 0.5s;
  margin: 2vh;
  width: 25%;
  height: 40vh;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  z-index: 1;
}
#modAccess .dashbItem{
  transition: 0.5s;
  background: rgba(255,255,255,0.1);
  margin: 2vh;
  width: 33.33%;
  height: 40vh;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  z-index: 1;
}
.dashItemTitle{
  font-size: 3vw;
  position: relative;
  top: 5vh;
}
.dashItemContent{
  position: relative;
  top: 5vh;
  text-align: center;
}
.dashItemButton{
  display: none;
}
.dashbImg{
  height: 15vh;
  width: auto;
  position: relative;
  top: 5vh;
}
.dashItemLink{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; 
        z-index: 10;
        background-color: #FFF; 
        opacity: 0; 

  }
  .dashItemLinkVis{
       top: 7vh;
    position: relative;
    color: #000;
    z-index: 11;
    transition: 0.5s;
}
  .dashItemLinkVis:hover{
    color: #e3e3e3;
}
.header{
    background: rgba(255, 255, 255, 0.05);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* Hover */
#ampmain:hover{
  background: #4E8AB7;
  color: #fff;
}
#cloudflare:hover{
  background: #F38020;
  color: #fff;
}
#improvMX:hover{
  background: #04A4FE;
  color: #fff
}
#noip:hover{
  background: #8FBE00;
  color: #fff;
}
#github:hover{
  background: #2B2D30;
  color: #fff;
}
#replit:hover{
  background: #E6E6E6;
}
#realvnc:hover{
  background: #288CF4;
  color: #fff;
}